:root {
	--moderate-violet: hsl(263, 55%, 52%);
	--very-dark-gray: hsl(217, 19%, 35%);
	--very-dark-blue: hsl(219, 29%, 14%);
	--white: hsl(0, 0%, 100%);

	--light-gray: hsl(0, 0%, 81%);
	--light-blue: hsl(210, 46%, 95%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
	display: grid;
	place-items: center;
	background-color: var(--light-blue);
	font-size: 13px;
	color: var(--white);
	height: 100vh;
	width: 100%;
}

main {
	display: grid;
	gap: 2em;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 80%;
	text-align: left;
}

.wide {
	grid-column-end: span 2;
}

.tall {
	grid-row-end: span 2;
}

.row {
	display: flex;
	text-align: left;
}

.row:nth-child(2) {
	flex-direction: column;
	justify-content: center;
	padding-right: 1em;
}

.row img:not(.qoute) {
	height: 3em;
	width: 3em;
	margin-right: 1em;
	border: 2px solid var(--white);
	border-radius: 50%;
}

.card {
	padding: 1.5rem;
	height: auto;
	border-radius: 0.5em;
	background-color: var(--moderate-violet);
}

.card:nth-child(2) {
	background-color: var(--very-dark-gray);
}

.card:nth-child(5) {
	background-color: var(--very-dark-blue);
}

.card:nth-child(5) > .row img {
	border: 2px solid var(--moderate-violet);
}

.white {
	background-color: var(--white);
	color: var(--very-dark-blue);
}

.heading {
	margin: 1em 1em 1em 0;
	z-index: 2;
}

.designation {
	opacity: 50%;
	letter-spacing: 1px;
	margin-top: 0.2rem;
}

.testimony {
	opacity: 60%;
	line-height: 1.5;
}

.qholder {
	position: relative;
}

.qoute {
	position: absolute;
	top: 0;
	right: 22%;
	opacity: 70%;
	height: 110px;
	z-index: 1;
}

/* media queries */
@media only screen and (max-width: 900px) {
	main {
		grid-template-columns: 1fr 1fr;
		padding: 2rem 0;
	}
}
@media only screen and (max-width: 555px) {
	main {
		grid-template-columns: 1fr;
		padding: 5rem 0;
		width: 90%;
	}
	.qoute {
		right: 10%;
	}
	.wide {
		grid-column-end: span 1;
	}
	.tall {
		grid-row: 5;
	}
	.heading {
		margin-right: 0.5em;
	}
}
