:root {
	/* ===
    colors 
    === */
	/* CTA text */
	--light-red: hsl(356, 100%, 66%);
	/* CTA hover bg */
	--very-light-red: hsl(355, 100%, 74%);
	/* headings */
	--very-dark-blue: hsl(208, 49%, 24%);

	/* text */
	--white: hsl(0, 0%, 100%);
	/* footer text */
	--grayish-blue: hsl(240, 2%, 79%);
	/* body copy */
	--very-dark-grayish-blue: hsl(207, 13%, 34%);
	/* footer bg */
	--very-dark-blue: hsl(240, 10%, 16%);

	/* ===
    gradient 
    === */
	/* bg gradient - intro/cta mobile nav */
	--bg-grad-mobile-nav-very-light-red: hsl(13, 100%, 72%);
	--bg-grad-mobile-nav-light-red: hsl(353, 100%, 62%);
	/* bg gradient - body */
	--bg-grad-very-dark-blue: hsl(237, 17%, 21%);
	--bg-grad-very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

html,
body {
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
}

/* 
- Mobile: 375px
- Desktop: 1440px

### Gradient

### Fonts

- Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
- Weights: 300, 600

- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
- Weights: 400, 500, 700






*/
